{include file="public/header_js" /}
<body>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-admin-role-add">
		<input type="hidden" name="id" value="{$auth_rule.id}">
		
		<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">
						<span class="c-red">*</span>
						上级栏目：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<span class="select-box">
						<select class="select" id="pid" name="pid" onchange="SetSubID(this);">
							<option value="0" >顶级分类</option>
							{volist name="$list" id="vo"}
							
							<option value="{$vo.id}" {eq name="vo.id" value="$auth_rule.pid"}selected="selected"{/eq}>{$vo.title}</option>
							{if condition="$vo['new_data'] neq ''"}
							{volist name="vo.new_data" id="v2"}
							   <option value="{$vo.id}" {eq name="v2.id" value="$auth_rule.pid"}selected="selected"{/eq}>&nbsp;&nbsp;├ {$v2.title}</option>
							{/volist}
							{/if}
							{/volist}
						</select>
						</span>
					</div>
					<div class="col-3">
					</div>
		</div>
		
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>权限名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$auth_rule.title}" placeholder="" id="title" name="title">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>执行方法：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$auth_rule.name}" placeholder="" id="name" name="name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>style_id：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$auth_rule.style_id}" placeholder="" id="style_id" name="style_id">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>字体图标编码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$auth_rule.font_code}" placeholder="" id="font_code" name="font_code">
			</div>
		</div>	
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$auth_rule.note}" placeholder="" id="" name="note">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">排序：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$auth_rule.sort}" placeholder="" id="sort" name="sort">
			</div>
		</div>
		<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>是否在栏目显示：</label>
		<div class="formControls col-xs-8 col-sm-9 skin-minimal">
			<div class="radio-box" style="padding-left: 0px; ">
				<input  type="radio" value="1" name="is_display" {if $auth_rule['is_display'] == '1' }checked="checked"{/if}>
				<label for="sex-1">展示</label>
			</div>
			<div class="radio-box" style="padding-left: 0px; ">
				<input type="radio" value="0" name="is_display" {if $auth_rule['is_display'] == '0' }checked="checked"{/if}>
				<label for="sex-2">不展示</label>
			</div>
		</div>
		</div>
		<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>是否启用：</label>
		<div class="formControls col-xs-8 col-sm-9 skin-minimal">
			<div class="radio-box" style="padding-left: 0px; ">
				<input  type="radio" value="1" name="status" {if $auth_rule['status'] == '1' }checked="checked"{/if}>
				<label for="sex-1">启用</label>
			</div>
			<div class="radio-box" style="padding-left: 0px; ">
				<input type="radio" value="0" name="status" {if $auth_rule['status'] == '0' }checked="checked"{/if}>
				<label for="sex-2">未启用</label>
			</div>
		</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="submit" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="public/footer_js" /} 	
	
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	
	$("#form-admin-role-add").validate({
		rules:{
			roleName:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'post',
				url: "{:url('editPost')}" ,
				data: $('#form-admin-role-add').serialize(), //将该表单序列化
				success: function(data){
					console.log(data);
					if(data.status==1){
						layer.msg(data.msg,{icon:1,time:1000});
					}else{
						layer.msg(data.msg,{icon:2,time:1000});
					}
					
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('error!',{icon:1,time:1000});
				}
			});
			//var index = parent.layer.getFrameIndex(window.name);
			//parent.$('.btn-refresh').click();
			//parent.layer.close(index);
		}
	});
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>