{include file="public/header_js" /}
<body>

<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add">
	<input type="hidden" name="id" value="{$list.id}">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>账号：</label>
		<div class="formControls col-xs-8 col-sm-9">
			{$list.user_login}
		</div>
	</div>
	<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>原密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text"  placeholder="" id="oldpassword" name="oldpassword">
			</div>
	</div>
	<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text"  placeholder="" id="new_password" name="new_password">
			</div>
	</div>	
	<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认输入新密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" value="" placeholder="" id="confirm_password" name="confirm_password">
			</div>
	</div>	
	<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>


<!--_footer 作为公共模版分离出去--> 
{include file="public/footer_js" /} 	
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){

	$("#form-admin-add").validate({
		rules:{
			oldpassword:{
				required:true,
				minlength:6
			},
		    new_password: {
		        required: true,
		        minlength: 6
		    },
		    confirm_password: {
		      required: true,
		      minlength: 6,
		      equalTo: "#new_password"
		    },		
		},
		messages: {
			oldpassword: {
		       required: "请输入旧密码",
		       minlength: "密码长度不能小于 6 个字母"
		      },
		    new_password: {
		       required: "请输入密码",
		       minlength: "密码长度不能小于 6 个字母"
		      },
		    confirm_password: {
		       required: "请输入密码",
		       minlength: "密码长度不能小于 6 个字母",
		       equalTo: "两次密码输入不一致"
		      },
		},	
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'post',
				url: "{:url('admin_change_password_Post')}" ,
				data: $('#loginform').serialize(), //将该表单序列化
				success: function(data){
					console.log(data);
					if(data.status==1){
						layer.msg(data.msg,{icon:1,time:1000});
					}else{
						layer.msg(data.msg,{icon:2,time:1000});
					}
					
				},
        error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('error!',{icon:2,time:1000});
				}
			});

		}
	});
});
</script> 
</body>
</html>