{include file="public/header_js" /}
<body>
<div class="page-container">
	<p class="f-20 text-success">欢迎访问 用户名：{$login_user_list.user_login}</p>
	<p>上次登录IP：{$login_user_list.last_login_ip}  上次登录时间：{$login_user_list.last_login_time|date='Y-m-d h:i:s'}</p>
	<!--<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th colspan="7" scope="col">信息统计</th>
			</tr>
			<tr class="text-c">
				<th>统计</th>
				<th>资讯库</th>
				<th>图片库</th>
				<th>产品库</th>
				<th>用户</th>
				<th>管理员</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-c">
				<td>总数</td>
				<td>92</td>
				<td>9</td>
				<td>0</td>
				<td>8</td>
				<td>20</td>
			</tr>
			<tr class="text-c">
				<td>今日</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr class="text-c">
				<td>昨日</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr class="text-c">
				<td>本周</td>
				<td>2</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr class="text-c">
				<td>本月</td>
				<td>2</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
		</tbody>
	</table>-->
	<table class="table table-border table-bordered table-bg mt-20">
		<thead>
			<tr>
				<th colspan="2" scope="col">服务器信息</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th width="30%">服务器计算机名</th>
				<td><span id="lbServerName">http://{$Request.host}</span></td>
			</tr>
			<tr>
				<td>服务器IP地址</td>
				<td>{$Request.ip}</td>
			</tr>
			<tr>
				<td>服务器域名</td>
				<td>http://{$Request.host}</td>
			</tr>
			<tr>
				<td>服务器端口 </td>
				<td>{$Request.port}</td>
			</tr>

			<tr>
				<td>PHP版本 </td>
				<td>{$Think.const.PHP_VERSION}</td>
			</tr>
			<tr>
				<td>服务器操作系统 </td>
				<td>{$Request.server.contentType}</td>
			</tr>
			<tr>
				<td>系统所在文件夹 </td>
				<td>{$Request.server.rootUrl}</td>
			</tr>
		
		</tbody>
	</table>
</div>
<footer class="footer mt-20">
	<div class="container">
		<p>Copyright &copy;2018-2019 客户管理系统 All Rights Reserved.</p>
	</div>
</footer>

</body>
</html>