<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 
	{present  name="$common_column_title.one_title"}
	<span class="c-gray en">&gt;</span> {$common_column_title.one_title}
	{/present}
	
	{present  name="$common_column_title.two_title"}
	<span class="c-gray en">&gt;</span> {$common_column_title.two_title}
	{/present}
	
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>